{
	local_certs
	email contact@dhfs.dev
}


api.localhost {
	encode gzip

	# Vide node modules
	handle /node_modules/* {
		reverse_proxy localhost:4321
	}

	reverse_proxy localhost:4321
}


docs.localhost {
	encode gzip

	# Vide node modules
	handle /node_modules/* {
		reverse_proxy localhost:4322
	}

	reverse_proxy localhost:4322
}


registry.localhost {
	encode gzip

	# Vide node modules
	handle /node_modules/* {
		reverse_proxy localhost:5173
	}

	reverse_proxy localhost:5173
}