@layer base, starlight, theme, components, utilities;

@import "@astrojs/starlight-tailwind";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
	/* Generated accent color palettes. */
	--color-accent-200: #fcb59c;
	--color-accent-600: #b63e00;
	--color-accent-900: #5a1a00;
	--color-accent-950: #421100;
	/* Generated gray color palettes. */
	--color-gray-100: #faf5f3;
	--color-gray-200: #f6ebe8;
	--color-gray-300: #ccbfbb;
	--color-gray-400: #9e857f;
	--color-gray-500: #69524c;
	--color-gray-700: #47322d;
	--color-gray-800: #35211c;
	--color-gray-900: #1f1613;
}
