---
import Layout from "../layouts/Layout.astro";
import { appVersions } from "../versions";

// Group versions by major version number and sort in reverse order
const groupedVersions = appVersions.reduce(
	(acc, version) => {
		const majorVersion = version.split(".")[0];
		if (!acc[majorVersion]) {
			acc[majorVersion] = [];
		}
		acc[majorVersion].push(version);
		return acc;
	},
	{} as Record<string, string[]>,
);

const sortedMajorVersions = Object.keys(groupedVersions).sort(
	(a, b) => Number(b) - Number(a),
);

const exampleUsage = JSON.stringify(
	{
		$schema: "https://api.dhfs.dev/1.0.x/schema.json",
		name: "John Doe",
		level: 1,
		class: "Sorcerer",
	},
	null,
	2,
);
---

<Layout>
	<div class="container mx-auto">
	<main class="p-4 prose prose-orange">

	<h1>DH Forge System API</h1>
	<p>
		This API provides versioned JSON Schemas for the DH Forge System
		(DHFS). DHFS is an open standard for Daggerheart player character data,
		designed to promote interoperability between different tools and
		applications.
	</p>
	<p>
		You can learn more about the DH Forge System on
		<a href="https://github.com/dh-forge-system">GitHub</a> or by reading the
		<a href="https://github.com/dh-forge-system/dh-forge-system/blob/main/README.PRD.md">
			documentation
		</a>
		.
	</p>

	<h2>Example Usage</h2>

	<p>With hand-written JSON, or via your favorite JSON Schema tools.</p>

	<p>Minimal Example:</p>


	<pre><code class="language-json">{exampleUsage}</code></pre>

	<h2>Available Schema Versions:</h2>
	{
		sortedMajorVersions.map((majorVersion) => (
			<div>
				<h3>Version {majorVersion}</h3>
				<ul>
					{groupedVersions[majorVersion]
						.sort((a, b) => b.localeCompare(a))
						.map((version) => (
							<li>
								<a href={`/${version}/schema.json`}>{version}</a>
							</li>
						))}
				</ul>
			</div>
		))
	}

</main>
</div>
</Layout>
